<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>WxD</title>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('main.index') }}">WxD</a>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.all_site_observations') }}">Observations</a></li>
          </ul>
        </div>
      </nav>
      <br />
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
