{% extends 'base.html' %}
{% block content %}
<div>
  <h1>WxD</h1>
</div>
<div>
  <p>
    This is the WxD homepage.
  </p>
  <p>
    You can view all weather observations for Heathrow <a href="{{ url_for('main.site_observation', site_id=3772) }}">here</a>.
  </p>
</div>
{% endblock %}
