{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Weather Display</h1>
</div>

<div class="row">
  <div class="col-md p-2">
    <div class="card text-center bg-info text-white">
      <div class="card-body pg-3">
        <h3 class="card-title">Search by location</h3>

        <form action="{{ url_for('main.results') }}">
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="sr-only">Search for a site</label>
              <input class="form-control form-control-lg mx-2" name="search-term" type='text' placeholder="Enter a place name"></input>
              <input type="checkbox" class="form-check-input" name="obs" value="yes">Only show sites with observations</input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-lg btn-light font-weight-bold">Search!</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md p-2">
    <div class="card text-center bg-info text-white">
      <div class="card-body pg-3">
        <h3 class="card-title">Observations</h3>
        <p class="card-text">See the observations for all sites</p>
        <a href="{{ url_for('main.all_site_observations') }}" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <div class="col-md p-2">
    <div class="card text-center bg-info text-white">
      <div class="card-body">
        <h3 class="card-title">Forecasts</h3>
        <p class="card-text">See the forecasts for all sites</p>
        <a href="{{ url_for('main.all_site_forecasts') }}" class="stretched-link"></a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
