{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Weather Observations for {{ site_name }}</h1>
</div>
<div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Date &amp; time</th>
        <th scope="col">Weather</th>
        <th scope="col">Temperature, &#x2103;</th>
        <th scope="col">Dew<br />point, &#x2103;</th>
        <th scope="col">Relative<br />humidity, %</th>
        <th scope="col">Wind, mph</th>
        <th scope="col">Wind<br />Gust, mph</th>
        <th scope="col">Pressure, hPa</th>
        <th scope="col">Visibility, m</th>
      </tr>
    </thead>
    <tbody>
    {% for date, content in obs.items() %}
      <tr>
        <th scope="row">{{ date }}</th>
        <td>{{ obs[date]['Weather Type'] }}</td>
        <td>{{ obs[date]['Temperature'] }}</td>
        <td>{{ obs[date]['Dew Point'] }}</td>
        <td>{{ obs[date]['Screen Relative Humidity'] }}</td>
        <td>{{ obs[date]['Wind Speed'] }} {{ obs[date]['Wind Direction'] }}</td>
        <td>{{ obs[date]['Wind Gust'] }}</td>
        <td>{{ obs[date]['Pressure'] }}<br />{{ obs[date]['Pressure Tendency'] }}</td>
        <td>{{ obs[date]['Visibility'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
