{% extends 'base.html' %}
{% block content %}
<div>
  <h1>{{ site.name }}</h1>
</div>
<div>
  <p><span class="font-weight-bold">Latitude:</span> {{ site.latitude }}</p>
  <p><span class="font-weight-bold">Longitude:</span> {{ site.longitude }}</p>
  <p><span class="font-weight-bold">Elevation:</span> {{ site.elevation }} m</p>
</div>
<div>
  {% if site.observations %}
    <a class="btn btn-light btn-lg btn-link" href="{{ url_for('main.site_observation', site_id=site.id) }}">
      {{ site.name }} observations</a>
  {% endif %}
  <a class="btn btn-light btn-lg btn-link" href="{{ url_for('main.site_forecast', site_id=site.id) }}">
    {{ site.name }} forecast</a>
</div>
{% endblock %}
