{% extends 'base.html' %}
{% from 'components.html' import site_nav %}

{% block content %}
<div>
  <h1>{{ site.name }}</h1>
</div>

{{ site_nav(site, page='about') }}

<div class="row">
  <div class="col-md-3">
    <p><span class="font-weight-bold">Latitude: </span><span id="lat">{{ site.latitude }}</span></p>
    <p><span class="font-weight-bold">Longitude: </span><span id="long">{{ site.longitude }}</span></p>
    <p><span class="font-weight-bold">Elevation: </span>{{ site.elevation }} m</p>
  </div>
  <div class="col-md-6" id="mapid"></div>
  <div class="col-md-2 ml-1" id="overview-map-id"></div>
</div>

{% endblock %}

{% block page_specific_js %}
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
    integrity="sha512-1tScwpjXwwnm6tTva0l0/ZgM3rYNbdyMj5q6RSQMbNX6EUMhYDE3pMRGZaT41zHEvLoWEK7qFEJmZDOoDMU7/Q=="
    crossorigin=""></script>
<script src="{{ url_for('static', filename='map.js') }}" ></script>
{% endblock %}
