{% macro table(data, headings) %}
<table class="table table-striped table-responsive table-sm">
  <thead>
    <tr>
      {% for header, _ in headings %}
        <th scope="col" class="text-center align-top">{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for date, content in data.items() %}
    <tr class="text-center">
      {% set show_date = loop.first or loop.previtem[0] | format_date !=  date | format_date %}
      <th scope="row">{% if show_date %}{{ date | format_date }}{% endif %}</th>
      <th scope="row">{{ date | format_time }}</th>
      {% for _, key in headings %}
        {% if loop.index > 2 %}
          <td>{{ data[date][key] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- endmacro %}
